
<nav class="nav navbar-expand navbar-dark bd-navbar">


  <ul class="nav justify-content-end w-100">
    <!-- System Options -->
    <li class="nav-item">
      <button type="button" class="btn ribbon-button" id="systemMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="caption">System</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="systemMenuButton">
        <button *ngFor="let action of systemActions" (click)="actionEvent(action)" class="dropdown-item">{{action}}</button>
      </div>

    </li>

    <!-- Configure Options -->
    <li class="nav-item">
      <button type="button" class="btn ribbon-button" id="configureMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="caption">Configure</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="configureMenuButton">
        <button *ngFor="let action of configureActions" class="dropdown-item " (click)="actionEvent(action)">{{action}}</button>
      </div>
    </li>

    <!-- About -->
    <li class="nav-item">
      <button type="button" class="btn ribbon-button">
        <span class="caption">About</span>
      </button>
    </li>
  </ul>
</nav>
  <h1>Dropdown Test</h1>
